*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

/* header design */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(252, 253, 249);
    margin: 0 3rem;
}

header input[type='search']{
    height: 40px;
    width: 350px;
    background-color: rgb(240, 241, 236);
    border: none;
    border-radius: 2px;
    padding-left: 10px;
}

header .searching:hover{
    background-color:rgb(70, 155, 67) ;
}

.addCart{
    display: flex;
}

/* navigation design */

nav{
    top: 0;
    position: sticky;
    z-index: 1;
}

nav ul {
    background-color: rgb(82, 191, 79);
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
   
}

nav ul li a{
    color: rgb(252, 253, 249);
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 1em 0 1em;
    display: block;
    padding:16px 20px;
}

nav ul li a:hover{
background-color:rgb(30, 47, 58) ;
}

/* main section design */

main{
    background-image: url(back6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(177, 187, 174, 0.753); */
    background-color: rgba(26, 26, 26, 0.692);
    background-blend-mode: multiply;
    height: 79vh;
    color: rgb(252, 253, 249);
    position: relative;
    
}
 
/* content within main section design */
.content{
    position: absolute;
    top: 8rem;
    left: 3rem;
    text-transform: uppercase;
    font-size: 22px; 
}
  
/* all elements within main .content section */
.content >*{
    margin-top: 8px;
   
}

/* button design for all button */
.all{
    height: 40px;
    background-color: rgb(82, 191, 79);
    color: rgb(252, 253, 249);
    border: none;
    padding: 8px;
    text-align: center;
    border-radius: 2px;
    width: 80px;
}

.button{
    width: 160px;
    text-transform: uppercase;
    margin-top: 14px;
}

/* hover effect for buttons */

.button:hover{
   background-color:rgb(70, 155, 67) ;
   cursor: pointer;
}

/* applied styles for container containing books */

.container{
    padding: 0 1em 4em 1em;
    margin: 0;
    position: relative;
    background-color: rgb(252, 253, 249);
}

.container .mySlides div{
    display: inline-block;
}

.heading{
   margin:1em 0 0 1.1em;
   font-size: 30px;
   color: rgb(77, 74, 74);
   letter-spacing: 4px;
   font-family: 'Zen Kurenaido', sans-serif;
}

  /* design for cards within container for the books */
.container .mySlides .card {
    position: relative;
    max-width: 200px;
    height:260px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    margin:2em 1em 0 2em;
    cursor: pointer;
}
    
.container .mySlides .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .mySlides .card::before{
    content: "add to cart";
    position: absolute;
    left: 3em;
    top:13.5em;
    background-color: rgb(43, 94, 41);
    height: 20px;
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 2px;
    padding: 2px;
}
.container .mySlides .card:hover::before{
    background-color: rgb(82, 191, 79);
}
.box img{
    width: 100%;
    height: 100%;
}

.container .mySlides .card .box:hover {
    transform: translateY(-50px);
  }

  /* eventlistner */
  .something{
    transform: translateY(-50px);
  }

.price{
    margin:200px 76px;
    color: green;
    font-weight: bold;
    border: none;
    background-color: white;
}

/* design for next and prev button */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    color: white;
    background-color: rgb(82, 191, 79);;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;}
.prev{
    left: 0;
    border-radius: 0 3px 3px 0;
}    

.prev:hover, .next:hover {
        background-color: rgba(33, 73, 32, 0.801);;;
      }

/* animation for fade with next and prev for genre of books */
.fade{
    animation: fade 1s linear;
    }
    
    @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    }     


/* footer containing contact information  */
footer{
    width: 100%;
    background-color:rgb(30, 47, 58) ;
    display: flex;
    justify-content: space-between;
    color:rgb(252, 253, 249); 
    padding:1em 4em;
    font-family: 'Poppins', sans-serif;
}

footer ul {
    list-style:none;
}
 
footer ul li a {
    text-decoration: none;
}

footer h4 {
    font-weight: 300;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 22px;
    position: relative;
    margin-bottom: 1em;
}

footer h4::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: rgb(123, 137, 146);
    height: 2px;
    width: 50px;
}

footer .icons i{
    margin-right: 10px;
    font-size: 18px;
    color: rgb(252, 253, 249);;
}
footer .icons a i:hover{
  color:rgb(82, 191, 79); ;
}

footer ul li a{
    color:rgb(252, 253, 249); 
    line-height: 1.5em;
}

footer .visit li{
    list-style: none;
    line-height: 1.5em;
}

/* styles and designs for elemnets with purchase tab and form design */


.head{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(82, 191, 79);
    color: white;
}

.head div{
    margin:10px 30px
}

.head .billHead h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 22px;
}
.backButton{
    font-size: 40px;
    color: white;
}

.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 18em;
    height:80vh ;
    margin: 0 6em 0 6em;
}

.infoLeft, .infoRight{
    margin-top: 2em;
    text-transform: uppercase;
}


.info .infoLeft input[type="text"]{
    width: 100%;
    height: 30px;
}

.parish{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.parish .second{
   grid-column: 2/4;
}







     /* .fade {
    animation-name: fade;
    animation-duration: 1s;
  }  */
  
  /* @keyframes fade {
   0%  {background-image: url(/flips/one.jpg);}
   4%  {background-image: url(/flips/two.jpg);}
   8%  {background-image: url(/flips/three.jpg);}
   12% {background-image: url(/flips/four.jpg);}
   16% {background-image: url(/flips/five.jpg);}
   20% {background-image: url(/flips/six.jpg);}
   24% {background-image: url(/flips/seven.jpg);}
   28% {background-image: url(/flips/eight.jpg);}
   32% {background-image: url(/flips/nine.jpg);}
   36% {background-image: url(/flips/ten.jpg);}
   40% {background-image: url(/flips/eleven.jpg);}
   44% {background-image: url(/flips/twelve.jpg);}
   48% {background-image: url(/flips/thirteen.jpg);}
   52% {background-image: url(/flips/fourteen.jpg);}
   56% {background-image: url(/flips/fifteen.jpg);}
   60% {background-image: url(/flips/sixteen.jpg);}
   64% {background-image: url(/flips/seventeen.jpg);}
   68% {background-image: url(/flips/eighteen.jpg);}
   72% {background-image: url(/flips/nineteen.jpg);}
   76% {background-image: url(/flips/twenty.jpg);}
   80% {background-image: url(/flips/twentyOne.jpg);}
   84% {background-image: url(/flips/twentyTwo.jpg);}
   88% {background-image: url(/flips/twentyThree.jpg);}
   92% {background-image: url(/flips/twentyFour.jpg);}
   100% {background-image: url(/flips/twentyFive.jpg);}
  } */
  